workflow.json
{
  "name": "Crónica diaria - Fútbol Europeo (sin La Liga)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "trigger-diario",
      "name": "Trigger diario (8:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-400, 300]
    },
    {
      "parameters": {
        "url": "https://feeds.bbci.co.uk/sport/football/premier-league/rss.xml"
      },
      "id": "rss-premier-league",
      "name": "RSS Premier League",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [-160, 180]
    },
    {
      "parameters": {
        "url": "https://feeds.bbci.co.uk/sport/football/european/rss.xml"
      },
      "id": "rss-futbol-europeo",
      "name": "RSS Fútbol Europeo",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [-160, 420]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-feeds",
      "name": "Unir feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [100, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const spanishKeywords = ['la liga', 'real madrid', 'barcelona', 'atlético de madrid', 'atletico de madrid', 'sevilla fc', 'valencia cf', 'villarreal', 'athletic bilbao', 'real sociedad'];\n\nconst seen = new Set();\nconst cleaned = [];\n\nfor (const item of items) {\n  const title = (item.json.title || '').toString();\n  const content = (item.json.contentSnippet || item.json.content || '').toString();\n  const combined = (title + ' ' + content).toLowerCase();\n\n  // Excluir cualquier noticia que mencione La Liga / equipos españoles\n  if (spanishKeywords.some(k => combined.includes(k))) continue;\n\n  // Evitar duplicados por título\n  if (seen.has(title)) continue;\n  seen.add(title);\n\n  cleaned.push({\n    json: {\n      title: title,\n      link: item.json.link || item.json.guid || '',\n      pubDate: item.json.pubDate || item.json.isoDate || '',\n      snippet: content.substring(0, 300),\n    }\n  });\n}\n\n// Ordenar por fecha descendente (más reciente primero)\ncleaned.sort((a, b) => new Date(b.json.pubDate) - new Date(a.json.pubDate));\n\n// Quedarnos con las 12 noticias más recientes\nreturn cleaned.slice(0, 12);"
      },
      "id": "filtrar-noticias",
      "name": "Filtrar y limitar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const noticias = items.map((item, i) => {\n  return `${i + 1}. ${item.json.title}\\n   Fecha: ${item.json.pubDate}\\n   Resumen: ${item.json.snippet}\\n   Fuente: ${item.json.link}`;\n}).join('\\n\\n');\n\nconst prompt = `Eres un periodista deportivo especializado en fútbol europeo. A continuación tienes una lista de titulares y resúmenes recientes de la Premier League, Serie A, Bundesliga y Ligue 1 (se excluye deliberadamente La Liga española).\n\nRedacta una crónica en español de entre 300 y 400 palabras que:\n- Agrupe las noticias más relevantes por liga cuando tenga sentido.\n- Tenga un tono periodístico, ágil y profesional (no una simple lista).\n- Destaque 3-4 noticias como las más importantes del día.\n- Termine con una frase breve a modo de titular resumen.\n\nNoticias disponibles:\n\n${noticias}`;\n\nreturn [{ json: { prompt, num_noticias: items.length } }];"
      },
      "id": "construir-prompt",
      "name": "Construir prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [580, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"claude-sonnet-5\", max_tokens: 1200, messages: [ { role: \"user\", content: $json.prompt } ] }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "llamar-claude",
      "name": "Llamar a Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_CREDENTIAL_ID",
          "name": "Claude API Key (x-api-key)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const response = items[0].json;\nconst text = response.content && response.content[0] && response.content[0].text\n  ? response.content[0].text\n  : JSON.stringify(response);\n\nreturn [{\n  json: {\n    cronica: text,\n    fecha: new Date().toISOString().slice(0, 10),\n  }\n}];"
      },
      "id": "extraer-texto",
      "name": "Extraer texto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 300]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "cronica",
        "options": {
          "fileName": "={{ 'cronica_futbol_' + $json.fecha + '.md' }}"
        }
      },
      "id": "guardar-fichero",
      "name": "Guardar como .md",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [1300, 300]
    }
  ],
  "connections": {
    "Trigger diario (8:00)": {
      "main": [
        [
          { "node": "RSS Premier League", "type": "main", "index": 0 },
          { "node": "RSS Fútbol Europeo", "type": "main", "index": 0 }
        ]
      ]
    },
    "RSS Premier League": {
      "main": [
        [{ "node": "Unir feeds", "type": "main", "index": 0 }]
      ]
    },
    "RSS Fútbol Europeo": {
      "main": [
        [{ "node": "Unir feeds", "type": "main", "index": 1 }]
      ]
    },
    "Unir feeds": {
      "main": [
        [{ "node": "Filtrar y limitar", "type": "main", "index": 0 }]
      ]
    },
    "Filtrar y limitar": {
      "main": [
        [{ "node": "Construir prompt", "type": "main", "index": 0 }]
      ]
    },
    "Construir prompt": {
      "main": [
        [{ "node": "Llamar a Claude API", "type": "main", "index": 0 }]
      ]
    },
    "Llamar a Claude API": {
      "main": [
        [{ "node": "Extraer texto", "type": "main", "index": 0 }]
      ]
    },
    "Extraer texto": {
      "main": [
        [{ "node": "Guardar como .md", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Genera diariamente una crónica en español del fútbol europeo (Premier League, Serie A, Bundesliga, Ligue 1), excluyendo explícitamente La Liga española. Usa n8n para orquestar RSS + filtrado + llamada a la API de Claude."
  }
}